.gamesHistory {
  display: flex;
  flex-direction: column;
  max-height: 300px;

  .heading {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 20px;

    h2 {
      @include typo-title;

      font-family: $content-font;
      display: block;
      color: $gold;
      text-align: center;
      font-weight: bold;
      padding-bottom: 4px;
      margin: 4px 0;
      border-bottom: solid 1px $gold;
    }

    .labels {
      font-family: $accent-font;
      display: flex;
      justify-content: space-between;
      color: $dark-green;
      font-weight: bold;
      font-size: 16px;
      border-bottom: solid 2px $dark-green;
    }
  }

  .scores {
    display: flex;

    span {
      text-align: center;
      display: block;
      width: 16px;
    }
  }

  .gamesList {
    overflow-y: auto;
    flex: 1;
    padding: 8px 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .game {
    display: flex;
    justify-content: space-between;
  }

  .button {
    margin-top: 8px;
    width: 100%;
  }
}
