.menu {
  position: absolute;
  z-index: 9;
  top: 24px;
  left: 24px;
}

.menuList {
  pointer-events: none;

  position: absolute;
  transform: translateY(0);

  overflow: hidden;

  width: fit-content;
  padding: 8px 0;

  opacity: 0;
  background-color: white;
  border-radius: 8px;

  transition: 0.2s ease-in-out;
  transition-property: transform, opacity;

  &.menuListDisplayed {
    pointer-events: all;
    transform: translateY(8px);
    opacity: 1;
  }
}

.menuItem {
  button {
    cursor: pointer;

    display: flex;
    gap: 8px;
    align-items: center;

    width: max-content;
    min-width: 100%;
    padding: 4px 12px 4px 8px;

    color: black;

    background-color: transparent;
    border: 0;
    border-radius: 0;

    & > * {
      flex-shrink: 0;
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }
}
