.menu {
  position: absolute;
  z-index: 9;
  top: 24px;
  left: 24px;
}

.menuList {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: fit-content;
  background-color: white;
  overflow: hidden;
  padding: 8px 0;
  border-radius: 8px;
  transform: translateY(0);
  transition: 0.2s ease-in-out;
  transition-property: transform, opacity;

  &.menuListDisplayed {
    opacity: 1;
    pointer-events: all;
    transform: translateY(8px);
  }
}

.menuItem {
  button {
    display: flex;
    align-items: center;
    width: max-content;
    min-width: 100%;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    gap: 8px;
    padding: 4px 12px 4px 8px;
    color: black;

    & > * {
      flex-shrink: 0;
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }
}
