.switchContainer {
  position: relative;

  .label {
    display: flex;
    gap: 8px;
    align-items: center;
    text-align: left;
  }

  .slider {
    cursor: pointer;

    position: relative;

    display: flex;

    width: 40px;
    height: 22px;
    padding: 2px;

    background-color: $hover-silver;
    border: solid 2px $dark-silver;
    border-radius: 24px;

    transition: 0.1s;
    transition-property: background-color, border-color, box-shadow, color, fill,
      stroke, opacity;

    &::before {
      content: "";

      position: absolute;
      left: 2px;

      width: calc(50% - 8px);
      height: calc(100% - 8px);

      background-color: $light-silver;
      border: solid 2px $dark-silver;
      border-radius: 23px;

      transition: 0.1s;
      transition-property: left, background-color, border-color, box-shadow,
        color, fill, stroke, opacity;
    }

    &:hover {
      background-color: $silver;
    }
  }

  .input {
    position: absolute;
    z-index: -1;
    top: 8px;
    left: 0;

    width: 0;
    height: 0;

    &:checked + .label .slider {
      background-color: $gold;
      border-color: $dark-gold;

      &::before {
        left: calc(100% - 16px);
        background-color: $light-gold;
        border-color: $dark-gold;
      }

      &:hover {
        background-color: $hover-gold;
      }
    }

    &:focus-visible {
      outline: none;

      & + .label .slider {
        outline: $light-gold 1px solid;
      }
    }
  }

  &.disabled {
    opacity: 0.3;
  }

  &.loading {
    .slider {
      cursor: progress;
      display: flex;
      justify-content: center;

      &::before {
        opacity: 0.2;
      }
    }

    &.disabled {
      opacity: 0.1;
    }
  }
}
