#playerHand {
  display: flex;
  margin-left: -8px;
  width: 100%;
  max-width: calc((108px) * 3 - 8px);
  transition: transform 0.5s ease;
  animation: slideUp 0.8s ease;
  align-self: center;

  @media (min-width: 540px) {
    max-width: calc((138px) * 3 - 8px);
  }

  &.top {
    animation: slideDown 0.8s ease;
  }

  .cardWrapper {
    margin-right: 8px;
    width: 100px;
    height: 120px;

    @media (min-width: 540px) {
      width: 130px;
      height: 160px;
    }
  }

  &.cardsHidden {
    pointer-events: none;
  }

  &.handDisabled {
    transform: translateY(50%);
    opacity: 0.7;

    &.top {
      transform: translateY(-50%);
    }
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(calc(-100% - 80px));
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(calc(100% + 80px));
  }
  100% {
    transform: translateY(50%);
  }
}
