.playerHand {
  display: flex;
  margin-right: -8px;
  transition: transform 0.5s ease;
  animation: slide-up 0.8s ease;
  align-self: center;

  &.top {
    animation: slide-down 0.8s ease;
  }

  .cardWrapper {
    margin-right: 8px;
    width: 100px;
    height: 120px;

    @media (width >= 540px) {
      width: 130px;
      height: 160px;
    }
  }

  &.cardsHidden {
    pointer-events: none;
  }

  &.handDisabled {
    transform: translateY(50%);
    opacity: 0.7;

    &.top {
      transform: translateY(-50%);
    }
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(calc(-100% - 80px));
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(calc(100% + 80px));
  }

  100% {
    transform: translateY(50%);
  }
}
