#gameModule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  overflow: hidden;
  max-width: 720px;
  margin: 0 auto;

  & > .boards {
    flex: 1;

    & > * {
      height: 100%;
    }
  }

  & > .roundCount {
    border-radius: 8px;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.3);
  }
}
