.gameModule {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  max-width: 720px;
  height: 100vh;
  margin: 0 auto;
  padding: 80px 20px 20px;

  & > .boards {
    flex: 1;

    & > * {
      height: 100%;
    }
  }

  & > .roundCount {
    margin: 4px 0;

    font-family: $accent-font;
    font-size: 20px;
    font-weight: 700;
    color: rgb(white, 50%);
    text-align: center;

    border-radius: 8px;
  }

  @media (width >= 540px) {
    padding: 20px;
  }
}
