$card-background: #dbd495;
$card-back-color: #791111;

$silver: #a19d94;
$dark-silver: #7a7a7a;
$light-silver: #d6d6d6;
$hover-silver: #b3b3b3;

$dark-gold: #bda41d;
$gold: #ffd700;
$light-gold: #fff0be;
$hover-gold: #edc800;

$darker-green: #0d2b0d;
$dark-green: #113b11;
$green: #185118;
