.container {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.button {
  width: 100%;
}

.iconButtonsContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
