.cardContainer {
  position: relative;

  &.playedContainer {
    border-radius: 8px;
    animation: played-animation 5s ease-in-out infinite;
  }

  &.winnerContainer {
    animation: win-animation 0.5s ease-in-out;
  }

  &.flipOnHover {
    &:hover .card {
      transform: rotateY(0);
    }
  }

  .confetti {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.card {
  user-select: none;

  transform-style: preserve-3d;

  width: 100%;
  min-width: 100px;
  height: 120px;

  perspective: 1000px;
  background-color: $card-background;
  border: solid 1px rgb(#000, 10%);
  border-radius: 8px;
  box-shadow: 0 0 10px 1px rgb(#000, 10%);

  transition: transform 0.3s ease;

  .front,
  .back {
    position: absolute;

    width: 100%;
    height: 100%;
    padding: 8px;

    backface-visibility: hidden;
  }

  .content {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: $card-background;

    h2 {
      margin: 0;
      font-size: 2.4em;
    }
  }

  .front {
    .content {
      border: solid 2px black;
      border-radius: 6px;
    }

    .letters {
      position: absolute;

      display: block;

      margin: 0;
      padding: 4px;

      font-family: $accent-font;
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
      color: #000;
      text-transform: capitalize;

      background-color: $card-background;

      &.top {
        top: -8px;
        left: -8px;
      }

      &.bot {
        right: -8px;
        bottom: -8px;
      }
    }
  }

  .back {
    backface-visibility: visible;

    .content {
      padding: 10px;
      background-color: $card-back-color;
      border-radius: 10px;

      .detail {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        background-color: rgb(#000, 20%);
        background-size: contain;
        border-radius: 5px;
      }
    }
  }

  &.flipped {
    transform: rotateY(180deg);
  }

  &.played {
    &:hover {
      transform: translateY(0);
    }

    &.flipped {
      &:hover {
        transform: rotateY(180deg) translateY(0);
      }
    }
  }

  &.disabled {
    pointer-events: none;
  }

  &.hoverable {
    &:hover {
      transform: translateY(-8px);
    }

    &.flipped {
      &:hover {
        cursor: pointer;
        transform: translateY(-8px) rotateY(180deg);
      }
    }

    &.played {
      &:hover {
        transform: translateY(0);
      }

      &.flipped {
        &:hover {
          transform: rotateY(180deg) translateY(0);
        }
      }
    }
  }

  @media (width >= 540px) {
    min-width: 130px;
    height: 160px;
  }
}

@keyframes played-animation {
  0% {
    transform: translateY(0);
    box-shadow: 0 0 20px 6px rgb(#000, 10%);
  }

  50% {
    transform: translateY(-4px);
    box-shadow: 0 0 20px 6px rgb(#000, 10%);
  }

  100% {
    transform: translateY(0);
    box-shadow: 0 0 20px 6px rgb(#000, 10%);
  }
}

@keyframes win-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
