#playerBoard {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: 0 auto;

  .cardSpot {
    width: 100px;
    height: 120px;

    background-color: rgb(#000, 20%);
    border-radius: 8px;
    box-shadow: 0 0 0 6px rgb(#000, 10%);

    @media (width >= 540px) {
      width: 130px;
      height: 160px;
    }
  }

  .cardWrapper {
    pointer-events: none;
  }

  .score,
  .action {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;

    font-family: $accent-font;
  }

  .score {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    color: rgb(#000, 30%);
  }

  .button {
    width: auto;
  }

  @media (width >= 540px) {
    justify-content: space-evenly;
  }
}
