.playsHistoryContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - 4px), -50%);
  height: 100%;
  min-width: 136px;
  max-height: 300px;

  transition: transform 0.3s ease-in-out;

  @media screen and (max-width: 1020px) {
    transform: translate(calc(-300% - 4px), -50%);
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 20px;

    .cards {
      display: flex;
      gap: 4px;
    }

    span {
      text-align: center;
      display: block;
      width: 20px;
    }
  }

  .head {
    color: $dark-green;
    font-weight: bold;
    border-bottom: solid 2px $dark-green;
    padding: 8px 0;
    margin: 0 20px;

    span {
      font-family: $accent-font;
    }
  }
}

.playsHistory {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  overflow-y: scroll;

  .inner {
    display: flex;
    flex-direction: column;
    padding: 12px 20px 8px;
    height: fit-content;
    gap: 8px;
  }

  .play {
    position: relative;

    .index {
      position: absolute;
      transform: translateX(calc(-100% - 8px));
      color: $dark-green;
      font-family: $accent-font;
    }
  }

  .placeholder {
    flex: 1;
  }
}
