.playsHistoryContainer {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(calc(-100% - 4px), -50%);

  display: flex;
  flex-direction: column;

  min-width: 136px;
  height: 100%;
  max-height: 300px;

  transition: transform 0.3s ease-in-out;

  .row {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    .cards {
      display: flex;
      gap: 4px;
    }

    img {
      display: block;
      width: 20px;
      object-fit: contain;
    }
  }

  .head {
    margin: 0 20px;
    padding: 8px 0;

    font-weight: bold;
    color: $dark-green;

    border-bottom: solid 2px $dark-green;

    span {
      font-family: $accent-font;
    }
  }

  @media screen and (width <= 1020px) {
    transform: translate(calc(-300% - 4px), -50%);
  }
}

.playsHistory {
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;

  .inner {
    display: flex;
    flex-direction: column;
    gap: 8px;

    height: fit-content;
    padding: 12px 20px 8px;
  }

  .play {
    position: relative;

    .index {
      position: absolute;
      transform: translateX(calc(-100% - 8px));
      font-family: $accent-font;
      color: $dark-green;
    }
  }

  .placeholder {
    flex: 1;
  }
}
