.CarpetContainer {
  background-color: #185118;
  border-radius: 16px;
  border: solid 6px #113b11;
  box-shadow: inset 0 0 20px rgba(black, 0.2);

  &.goldInset {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% - 16px);
      height: calc(100% - 16px);
      border-radius: 8px;
      border: solid 1px rgba(#ffd700, 0.3);
    }
  }

  &.goldFrame {
    box-shadow: inset 0 0 20px rgba(black, 0.2), 0 0 0 1px rgb(255, 240, 190),
      0 0 0 3px #ffd700;
  }
}
