:root {
  @include typo-body;

  color: rgb(255, 255, 255, 87%);
  text-rendering: optimizelegibility;

  color-scheme: light dark;
  background-color: #242424;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  min-width: 320px;
  min-height: 100dvh;
  margin: 0;
}
