.partyEndPopin {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;

  .confetti {
    position: absolute;
  }

  h2 {
    margin: 0;
    font-family: $accent-font;
    font-size: 48px;
    color: $gold;
  }

  .buttons {
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }
}
