.playerSide {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;

  > .playerBoard {
    padding: 20px 8px 28px;
  }

  &.top {
    flex-direction: column-reverse;

    > .playerBoard {
      padding: 28px 8px 20px;
    }
  }
}
